#home {
    background-image: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#services {
    background-image: url("../images/backgrounds/s_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#contact-us {
    background-image: url("../images/backgrounds/c_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.paragraph{
    font-family: 'Noto Serif Khojki', serif;
}
.head{
    font-family: 'Noto Serif Khojki', serif;
}
#what-we-do{
    font-family: 'Noto Serif Khojki', serif;
}
.description{
    display: none;
}
.whatwedoimages{
    display: block;
}
.whatwedoimages:hover, .description:hover{
    cursor: pointer;
}